<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary">Products List</h1>
        </div>
        <div class="col-6 text-end">
            <a class="btn-primary btn" asp-area="Admin" asp-controller="Product" asp-action="Upsert"><i class="bi bi-plus-circle me-1"></i> Create New Product</a>
        </div>
    </div>

</div>
<br />
<br />

<table id="tblData" class="table table-hover table-bordered ">

    <thead>
        <tr c>
            <th>
               Title
            </th>
            <th>
                ISBN
            </th>
            <th>
                Price
            </th>
            <th>
                Author
            </th>
            <th>
                Category
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/Product.js"></script>
}
    

